<section>
   <div style="padding: 16px;">
     <div class="md-display-1"> Admin Page </div>
     <div class="md-title">  버전 0.0.1 (12/7) created by Kevin S  </div>
   </div>
   <div ng-cloak>
    <md-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <!-- 디스플레이 정보 -->
        <md-tab label="Display Information">
          <md-content class="md-padding">
            <h1 class="md-display-1">Show Display Information</h1>
            <p>각각의 디스플레이에서 실행되고 있는 비디오를 확인 하실수 있습니다.</p>
            <md-button class="md-raised" ng-click="createVideo()">create video reference</md-button>
            <div id="pixi"></div>
            <pre>{{videos}}</pre>
          </md-content>
        </md-tab>

        <!-- 비디오 업로더 -->
        <md-tab label="Upload Video">
          <md-content class="md-padding">
            <h1 class="md-display-1"> 비디오 업로드 </h1>
            <p> 비디오 리스트 </p>
          </md-content>
        </md-tab>
        
        <!-- 비디오 리스트 Ordering -->
        <md-tab label="Video Queue">
          <md-content class="md-padding">
            <h1 class="md-display-1">Tab Three</h1>
            <p>디스플리이 각각의 화면의 비디오리스트를 정하 실수 있습니다. </p>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</section>
