<ion-view>
    <ion-content scroll="false" class="backGradRest">
        <section layout="row" style="height: 8px;display: -webkit-flex; /* Safari */display: flex;">
            <div flex style="width:250px; height:8px; background-color:#808080"></div>
            <div flex style="width:250px; height:8px; background-color:#E6B53C"></div>
            <div flex style="width:250px; height:8px; background-color:#8B1A1E"></div>
        </section>
        <section>
            <!-- <div layout="row" layout-align="center center" layout-padding layout-margin>
                <img src="img/logo.png">
            </div> -->
            <map-box></map-box>
        </section>
    </ion-content>
</ion-view>
